body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    background: #212224;
}

#preview {
    border: 2px solid rgb(255, 255, 255);
    width: 300px;
    height: 150px;
    object-fit: cover;
    margin: 0 auto 15px auto; /* centre automatiquement */
    display: block;
}

video {
    border: 2px solid #d2d1d1;
    border-radius: 8px;
    margin-bottom: 10px;
    display: block;
    margin: 0 auto;     /* centre horizontalement */
    background: #ffffff;
    object-fit: cover;
}

button {
    padding: 20px 60px;       /* Gros bouton */
    font-size: 24px;           /* Texte plus grand */
    font-weight: bold;
    cursor: pointer;
    margin: 20px auto;         /* Centré horizontalement */
    display: block;            /* Pour que margin auto fonctionne */
    border: none;
    border-radius: 20px;       /* Bords arrondis */
    background-color: #4c5052; /* Bleu joli */
    color: #ffffff;
    transition: transform 0.2s, background-color 0.2s;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2); /* Ombre légère */
}

button:hover {
    background-color: #4c5052; /* Bleu plus foncé au survol */
    transform: scale(1.05);    /* Légère augmentation de taille */
}

button:active {
    transform: scale(0.95);    /* Effet "pression" */
}


button:hover {
    background-color: #4c5052;
}

#controls {
    margin: 15px 0;
}

#status {
    color: rgb(255, 255, 255);
    margin-top: 10px;
}
#lastCode {
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin-top: 10px;
}
h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 36px;             /* plus grand */
    font-weight: bold;
    color: #ffffff;              /* bleu foncé */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* ombre subtile */
    margin-bottom: 10px;
}

h4 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: #ffffff;
    margin-top: -5px;
    margin-bottom: 20px;
}

h7 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10px;
    color: #ffffff;
    margin-top: -5px;
    margin-bottom: 20px;
}

