body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

video {
    border: 2px solid #333;
    border-radius: 8px;
    margin-bottom: 10px;
    width: 200;          
    height: 125;         
    display: block;
    margin-left: 500;
    margin-right: 500;
    background: #eee;
    object-fit: cover;   
}
button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
}

#controls {
    margin: 15px 0;
}

#status {
    color: red;
    margin-top: 10px;
}

#lastCode {
    font-weight: bold;
}
