body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    background: #f8f8f8;
}

#preview {
    border: 2px solid black;
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin: 0 auto 15px auto; /* centre automatiquement */
    display: block;
}

video {
    border: 2px solid #333;
    border-radius: 8px;
    margin-bottom: 10px;
    width: 200px;       /* ajout px */
    height: 125px;      /* ajout px */
    display: block;
    margin: 0 auto;     /* centre horizontalement */
    background: #eee;
    object-fit: cover;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: #0078D7;
    color: white;
    transition: 0.2s;
}

button:hover {
    background-color: #005a9e;
}

#controls {
    margin: 15px 0;
}

#status {
    color: red;
    margin-top: 10px;
}

#lastCode {
    font-weight: bold;
    margin-top: 10px;
}
